<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <connectionStrings>
    <add name="team01Database" connectionString="Data Source=co-web.lboro.ac.uk;Initial Catalog=team01;Persist Security Info=True;User ID=team01;Password=q8fg3qe"
      providerName="System.Data.SqlClient" />
    <add name="team01ConnectionString1" connectionString="Data Source=co-web.lboro.ac.uk;Initial Catalog=team01;User ID=team01;Password=q8fg3qe"
      providerName="System.Data.SqlClient" />
    <add name="team01ConnectionString2" connectionString="Data Source=co-web.lboro.ac.uk;Initial Catalog=team01;User ID=team01;Password=q8fg3qe"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
</configuration>